#fileUpload {
	display: none;
}

#reading {
	display: none;
}

#warn {
	display: block;
	justify-content: center;
	margin-top: 13vh;
	text-align: center;
}

p {
	font-size: 1.1rem;
	letter-spacing: 1px;
	line-height: 1.6;
	font-family: 'Cambria';
}

p icon {
	margin: 0px 5px;
}

#saveEditor {
	display: none;
}

#downloadButton {
	display: none;
}

.popConversion {
	font-size: 1.1rem;
	letter-spacing: 1px;
	line-height: 1.6;
	font-family: 'Cambria';
	display: block;
}

.popConversionLabel {
	margin-left: 5px;
}

#popConversionCheckAllLabel {
	font-weight: bold;
}